html {
    height: 100%;
}

header{
    background-color: green;
    border: 1px solid darkgreen;
    height: 250x;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: white;
    text-shadow: 0px 0px 5px rgb(54, 182, 54);
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    text-shadow: 0px 0px 5px rgb(54, 182, 54);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    transition: 0.25s;
}

h2:hover {
    background-color: darkgreen;
    font-size: large;
    transition: 0.25s;
}

#header-link-login {
    text-align: right;
    text-decoration: none;
    margin-right: 20px;
    position: relative ;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 150px;
    top: -50px;
}

#header-link-contacts {
    text-align: right;
    text-decoration: none;
    margin-right: 20px;
    position: relative ;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    top: -50px;
}

h3 {
    color: black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

h4 {
    color: black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

h5 {
    color: black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: small;
}

p {
    color: black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-bottom: 20px;
}

.container-hmain {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    height: 165px;
}

.container-hlinks {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-anchor: middle;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: lightgreen;
    text-align: center;
}

li a {
    display: block;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.25s;
}

li a:hover {
    color: white;
    background-color: gray;
    transition: 0.25s;
}

#footer-text {
    display: inline-block;
    justify-content: flex-start;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
    text-align: center;
    position: relative;
    top: 35%;
}

.newsblock {
    display: block;
    width: 80%;
    border-left: 3px black;
    background-color: ivory;
    float: right;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: auto;
}

footer {
    list-style-type: none;
    padding: auto;
    text-align: center;
    background-color: green;
    border: 3px darkgreen;
    height: 100px;
    position: static;
    bottom: 0;
}

#news-header {
    padding: auto;
}

#news-content {
    padding: auto;
}

.text {
    display: block;
    width: 80%;
    border-left: 3px black;
    background-color: ivory;
    float: right;
}
